# Homestead
function homestead() {
    ( cd ~/Code/homestead && vagrant $* )
}

# Create a new directory and enter it
function md() {
    mkdir -p "$@" && cd "$@"
}

# Show / Hide hidden files
function hidden() {
    defaults write com.apple.finder AppleShowAllFiles $1
    killall Finder /System/Library/CoreServices/Finder.app
}

# Git tag
function gt() {
    git tag -a $1 -m "$2"
}

# take this repo and copy it to somewhere else minus the .git stuff.
function ge(){
    mkdir -p "$1"
    git archive master | tar -x -C "$1"
}


# Strip the audio from a video
function m4a() {
    ffmpeg -i $1.mp4 -c:a copy -vn -sn $1.m4a
}

# Find shorthand
function f() {
    find . -name "$1"
}

# Count files matching expressions
function fcount() {
    find . | grep $1 | wc -l
}

# cd into whatever is the forefront Finder window.
cdf() {  # short for cdfinder
  cd "`osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)'`"
}

# Syntax-highlight JSON strings or files
function json() {
    if [ -p /dev/stdin ]; then
        # piping, e.g. `echo '{"foo":42}' | json`
        python -mjson.tool | pygmentize -l javascript
    else
        # e.g. `json '{"foo":42}'`
        python -mjson.tool <<< "$*" | pygmentize -l javascript
    fi
}

# get gzipped size
function gz() {
    echo "orig size    (bytes): "
    cat "$1" | wc -c
    echo "gzipped size (bytes): "
    gzip -c "$1" | wc -c
}
